{% extends 'base/header.html' %}
{% block content %}
    <h1>Create New Project</h1>

    <form  method="post" action="{%url 'base:project' %}">
        {% csrf_token %}
        <label>Enter The Project Name </label>
        <input type="text" name="textfield" value="">
        <input style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit" value="Create">
    </form>
    <br>
    <h1>Recent Projects</h1>
    {% for pro in projects %}
        <a href="{%url 'base:project2'  pro.id%}">{{pro.project_name|safe}}</a>
        <a class="btn btn-sm btn-danger" href="{%url 'base:delete'  pro.id%}" style="float:right;width: 100px;padding: 1px;">Delete</a>
        <br><br>
    {% endfor %}
    
    
{% endblock %}

